<!DOCTYPE html>
<html>
    <!--Script creating anonymous function that inserts a script into the DOM of login.html page -->
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
        </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
        </script>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                     <strong> {{message}} </strong></li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="signinBUtton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="1037954704193-uupu5mi0rre6qtke88j5bdbfpjfj8v6o.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
    <div id="result"></div>

    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
            //Hide the sign in button now that user is authorized
                $('#signinBUtton').attr('style', 'display: none');
            //Sends the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restauratnts page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                            window.location.href = "/categories/";
                        }, 4000);

                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                    }
                });
        }}
        </script>
    </body>
</html>

<!--data scope chooses what we get to see from google, redirecturi enables the one time use code flow, data-accesstype lets us make requests to google server even if user not logged in. cookiepolicy determines scope of uris that can access the cookie, single host is if no subdomains. approval means login each time visit the login page, disable in production. -->

<!--the script at the bottom is checking if the one time use code is present from google after logging in successfully-->